.pytest_cache

venv

testing.py

data

.idea
*/.idea
*/*/.idea
*/*/*/.idea
*/*/*/*/.idea
*/*/*/*/*/.idea

__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__